{% extends "main.html" %}

{% block container %}
<div class="container">
    <br><br><br><br>
    <p><b>Session information.</b></p>
        {% for i in result %}
        <li>{{ i }}</li>
        {% endfor %}
        <form action="" method="post">
            <br>
            <p><b>Are you want to delete this session(s)?</b></p>
            <p>{{ login_name }}</p>
            <input type="hidden" name="login_del" value="{{login_name}}">
            <input type=submit value='Delete' name="submit">
            <input type="submit" value="No" name="submit">
        </form>


</div>
{% endblock %}