{% load url from future %}

<!doctype html>
<html lang="en">

{% block head %}
<head>
    <meta charset="utf-8">
    <title>Velton statistic and operation page.</title>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'ssc/css/bootstrap.css' %}" />
    <style>
        body {
            padding-top: 10px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'ssc/css/bootstrap-responsive.css' %}" />
{% endblock %}

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="{% url 'index' %}">Домашняя</a></li>
                    <li><a href="{% url 'wowstat:wowza' %}">Видео камеры</a></li>
                    <li><a href="{% url 'ssc:http' %}">Сброс сессий</a></li>
                    <li><a href="{% url 'ams:default' %}">Аварии</a></li>
                    <li><a href="/admin/">Админка</a></li>
                    <td align='right' valign='top'>
                    {% if user.is_authenticated %}
                    <li><a href="/admin/auth/user/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a></li>
                    <li><a href="{% url 'ssc:logout' %}">Выйти</a></li>
                    {% else %}
                    <li><a href="{% url 'ssc:http' %}">Выполните вход</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

{% block container %}
<div class="container">
    <br><br><br>
    <h3>Сайт для внутреннего пользования.</h3>
    <ul><b>Что можно делать:</b>
        <li>Видео камеры: просмотр статистики по видео-серверу.</li>
        <li>Сброс сессий: сбрасывать сессии на SSC.</li>
        <li>Аварии: открывать/закрывать/изменять аварии, оставлять коментарии по авариям, добавлять ответственных за устранение аварии, просматривать информацию о аварии, этапах устранения, инженерах.</li>
        <li>Админка: в зависимости от прав - добавлять/удалять пользователей, отрывать/закрывать аварии.</li>
    </ul>
</div>
{% endblock %}

<script src="http://code.jquery.com/jquery-latest.js"></script>
{% load staticfiles %}

<script src="{% static 'ssc/js/bootstrap.min.js' %}"></script>
<script src="{% static 'ssc/js/hrefAddClass.js' %}"></script>

</body>

</html>
