{% extends "base.html" %}

{% block container %}
  <div class="container">
    <br>
    <br>
    <br>
    <form action="" method="get">
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
    <hr>
    <ul>
      {% for event in event %}
      <li><a href='/ams/event/{{ event.id }}/'>{{ event.title }}</a> Запись сделана {{ event.publication_datetime }}</li>
      {% empty %}
        <p>Выбранных аварий нет.</p>
      {% endfor %}
    </ul>
    <hr>
  <div class="container">
{% endblock %}
