{% extends "ssc/main.html" %}


{% load googlecharts %}

{% block container %}
<div class="container">
    <br><br><br>
    <p><b>Количество одновременных просмотров: {{ current }}.</b></p>

    <div id="detail_graph"></div>

    {% googlecharts %}
        {% data detail "detail" %}
            {% col "string" "Hour" %}"{{ val }}"{% endcol %}
            {% col "number" "Viewers count" %}{{ val }}{% endcol %}
        {% enddata %}

        {% options %}
            kind: "PieChart",
            options: {
                backgroundColor: "#fffff9",
                title: 'Распределение запросов по городам.',
                gridlineColor: "#ddd",
                vAxis: {minValue: 0},
                chartArea: {left: 40, top: 20, width: 600, height: 400},
                width: 700,
                height: 450
            }
        {% endoptions %}

        {% graph "detail_graph" "detail" %}
    {% endgooglecharts %}

</div>
{% endblock %}
