{% extends "base.html" %}

{% block container %}
<div class="container">
    <br><br><br>

        <form action="" method="post">
        {% csrf_token %}
            <input type=radio name=type value="raw" checked><b></b></input>
            <input type=text style="width:20em;" name=login_name autofocus=true placeholder="LOGIN_NAME">
            <br><hr>
            <input type=radio name=type value="comp">  <b></b></input>
            <select style="width:10em;" name="city">
                {% for i in city %}
                <option>{{ i }}</option>
                {% endfor %}
            </select>
            <b>-</b>
            <select  style="width:5em;" name="point">
                {% for i in point %}
                <option>{{ i }}</option>
                {% endfor %}
            </select>
            <b> PON </b>
            <input type="text" style="width:0.8em;" name="opt1" value="1" readOnly>
            <b>/</b>
            <input type="text" style="width:0.8em;" name="opt2" value="1" readOnly>
            <b>/</b>
            <input type="text" style="width:1.2em;" name="opt3">
            <b>/</b>
            <input type="text" style="width:1.2em;" name="opt4">
            <b>:</b>
            <input type="text" style="width:1.2em;" name="opt5">
            <b>.</b>
            <input type="text" style="width:0.8em;" name="opt6" value="1" readOnly>
            <b>.</b>
            <input type="text" style="width:0.8em;" name="opt7">
            <br><br>
            <p><input type=submit value='Session info'></p>
        </form>

    {% if login_name %}
    <p>Login: {{ login_name }}</p>
    {% endif %}
    {% for i in result %}
        <li>{{ i }}</li>
    {% endfor %}
</div>
{% load staticfiles %}
<script src="{% static 'ssc/js/formRefiner.js' %}"></script>
{% endblock %}
