{% extends "base.html" %}

{% block container %}
    <div class="container">
        <br><br><br>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <input type="submit" value="Submit">
        </form>

    {% if delete %}
        <p><b>Session information.</b></p>
        {% for key, value in result.items %}
          <ul><b>{{ key }}</b>
            {% for opt in value %}
              <li>{{ opt }}</li>
            {% endfor %}
          </ul>
        {% endfor %}
        <form action="" method="post">
        {% csrf_token %}
            <br>
            <p><b>Are you want to delete {{ result|length }}
                {% if result|length > 1 %}
                sessions?
                {% else %}
                session?
                {% endif %}
            </b></p>
            <p>{{ login_name }}</p>
            <input type="hidden" name="login_del" value="{{login_name}}">
            <input type="submit" value="Delete" name="submit">
            <input type="submit" value="No" name="submit">
        </form>

    {% else %}
        {% if login_name %}
        <p>Login: {{ login_name }}</p>
        {% endif %}
        {% if result %}
            {% for i in result %}
                <li>{{ i }}</li>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}
