{% extends "ssc/main.html" %}

{% block container %}
<div class="container">
    <br><br><br>

        <form action="" method="post">
        {% csrf_token %}
            <p><b>Введите LOGIN_NAME</b></p>
            <input type=radio name=type value="raw" checked><b></b></input>
            <input type=text style="width:20em;" name=login_name>
            <p><b>Составить LOGIN_NAME можно самостоятельно ниже.</b></p>
            <p><b>Вводить 01 и 04, как в примере далее, не обязательно</b></p>
            <p><b>KHARKOV-K13 PON 1/1/04/01:4.1.2</b></p>
            <p><b>Можно вводить 1/1/4/1:4.1.2 вместо 1/1/04/01:4.1.2</b></p>
            <input type=radio name=type value="comp">  <b></b></input>
            <select style="width:10em;" name="city">
                {% for i in city %}
                <option>{{ i }}</option>
                {% endfor %}
            </select>
            <b>-</b>
            <select  style="width:5em;" name="point">
                {% for i in point %}
                <option>{{ i }}</option>
                {% endfor %}
            </select>
            <b> PON </b>
            <input type="text" style="width:1em;" name="opt1">
            <b>/</b>
            <input type="text" style="width:1em;" name="opt2">
            <b>/</b>
            <input type="text" style="width:1em;" name="opt3">
            <b>/</b>
            <input type="text" style="width:1em;" name="opt4">
            <b>:</b>
            <input type="text" style="width:1em;" name="opt5">
            <b>.</b>
            <input type="text" style="width:1em;" name="opt6">
            <b>.</b>
            <input type="text" style="width:1em;" name="opt7">
            <br><br>
            <p><input type=submit value='Session info'></p>
        </form>

    {% for i in result %}
        <li>{{ i }}</li>
    {% endfor %}
</div>
{% endblock %}
