{% extends "base.html" %}

{% block container %}
    <div class="container">
        <br><br><br>
        <div class="form">
            <form action="" method="post">
            {% csrf_token %}
                <table>
                    {{ form }}
                </table>
                <input type="submit" value="list" name="submit">
        </div>
        <div class="output">
            {% if delete %}
                <p><b>Session information.</b></p>
                {% for key, value in result.items %}
                    <ul><b>{{ key }}</b>
                    {% for opt in value %}
                        <li>{{ opt }}</li>
                    {% endfor %}
                    </ul>
                {% endfor %}
                <br>
                <p><b>Are you want to delete {{ result|length }}
                    {% if result|length > 1 %}
                    sessions?
                    {% else %}
                    session?
                    {% endif %}
                </b></p>
                <input type="submit" value="del" name="submit">
                <input type="submit" value="back" name="submit">

            {% else %}
                {% if result %}
                    {% for i in result %}
                        <li>{{ i }}</li>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
            </form>
    </div>
{% endblock %}

{% block loadstatic %}
{% load staticfiles %}
<script src="{% static 'ssc/js/ajax.js' %}"></script>
{% endblock %}

