[server]
server_ip = 
server_port = 

[wowza]
server_ip = 
server_port = 
login = 
password =

[ssc]
url =
login =
pass =

[postgresql]
ip =
user = 
pass = 

[smtp_ip]
smtp_ip =

[smtp_port]
smtp_port =

[send_from]
from =

[send_to]
to1 =
to2 =